## Getting started

In [1]:
help.start()

starting httpd help server ... done

If nothing happens, you should open
'http://127.0.0.1:18703/doc/html/index.html' yourself

In [2]:
# ? = help
# Como funciona o print?
?print

In [5]:
help.search('linear regression')

In [6]:
# Retorna o diretório atual
getwd()

[1] "C:/Users/MorelRob/Documents/R"

In [8]:
# Setta um diretório
setwd('C:/')
getwd()

[1] "C:/"

In [9]:
# Lista as pastas que tem no diretório
dir()

 [1] "$Recycle.Bin"              "$WinREAgent"
 [3] "bootTel.dat"               "Config.Msi"
 [5] "Data"                      "dev"
 [7] "Documents and Settings"    "DumpStack.log"
 [9] "DumpStack.log.tmp"         "hiberfil.sys"
[11] "HP"                        "HPEXPERIENCE"
[13] "Intel"                     "pagefile.sys"
[15] "PerfLogs"                  "Procurement Plaza.lnk"
[17] "Program Files"             "Program Files (x86)"
[19] "ProgramData"               "Python27"
[21] "Python38"                  "Quarantine"
[23] "Recovery"                  "swapfile.sys"
[25] "SWSetup"                   "System Volume Information"
[27] "System.sav"                "Temp"
[29] "tools"                     "Users"
[31] "Windows"

In [10]:
# Lista pastas e arquivos que tem no diretório
list.files()

 [1] "$Recycle.Bin"              "$WinREAgent"
 [3] "bootTel.dat"               "Config.Msi"
 [5] "Data"                      "dev"
 [7] "Documents and Settings"    "DumpStack.log"
 [9] "DumpStack.log.tmp"         "hiberfil.sys"
[11] "HP"                        "HPEXPERIENCE"
[13] "Intel"                     "pagefile.sys"
[15] "PerfLogs"                  "Procurement Plaza.lnk"
[17] "Program Files"             "Program Files (x86)"
[19] "ProgramData"               "Python27"
[21] "Python38"                  "Quarantine"
[23] "Recovery"                  "swapfile.sys"
[25] "SWSetup"                   "System Volume Information"
[27] "System.sav"                "Temp"
[29] "tools"                     "Users"
[31] "Windows"

In [12]:
setwd('C:/Users/MorelRob/Documents/R')
list.files()
ls()

[1] "First_Test_Plot.ipynb" "Untitled.ipynb"

character(0)

In [14]:
objects()
x <- 1
ls()
list_obj <- ls()
list_obj

[1] "list_obj" "x"

[1] "list_obj" "x"

[1] "list_obj" "x"

In [17]:
# Salva um .RData do projeto (workspace)
save.image(file='aula.RData')

In [18]:
dir()

[1] "aula.RData"            "First_Test_Plot.ipynb" "Untitled.ipynb"

In [19]:
# Carrega o workspace .RData
load(file='aula.RData')

In [20]:
install.packages('ggplot2')

also installing the dependencies 'processx', 'rprojroot', 'pkgbuild', 'diffobj', 'rematch2', 'brio', 'callr', 'cli', 'desc', 'ellipsis', 'lifecycle', 'pkgload', 'praise', 'ps', 'rlang', 'waldo', 'withr', 'testthat', 'isoband'

  There are binary versions available but the source versions are later:
          binary source needs_compilation
lifecycle  0.2.0  1.0.0             FALSE
waldo      0.2.3  0.2.4             FALSE
testthat   3.0.1  3.0.2              TRUE

  Binaries will be installed
package 'processx' successfully unpacked and MD5 sums checked
package 'rprojroot' successfully unpacked and MD5 sums checked
package 'pkgbuild' successfully unpacked and MD5 sums checked
package 'diffobj' successfully unpacked and MD5 sums checked
package 'rematch2' successfully unpacked and MD5 sums checked
package 'brio' successfully unpacked and MD5 sums checked
package 'callr' successfully unpacked and MD5 sums checked
package 'cli' successfully unpacked and MD5 sums checked
package 'desc' successfully unpacked and MD5 sums checked
package 'ellipsis' successfully unpacked and MD5 sums checked
package 'pkgload' successfully unpacked and MD5 sums checked
package 'praise' successfully unpacked and MD5 sums checked
package 'ps' successfully unpacked and MD5 sums checked
package 'rlang' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'rlang'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\MorelRob\Anaconda3\envs\R\Lib\R\library\00LOCK\rlang\libs\x64\rlang.dll to C:\Users\MorelRob\Anaconda3\envs\R\Lib\R\library\rlang\libs\x64\rlang.dll: Permission denied"Warning message:
"restored 'rlang'"

package 'withr' successfully unpacked and MD5 sums checked
package 'testthat' successfully unpacked and MD5 sums checked
package 'isoband' successfully unpacked and MD5 sums checked
package 'ggplot2' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\MorelRob\AppData\Local\Temp\RtmpC2wpDn\downloaded_packages

installing the source packages 'lifecycle', 'waldo'

Warning message in install.packages("ggplot2"):
"installation of package 'lifecycle' had non-zero exit status"Warning message in install.packages("ggplot2"):
"installation of package 'waldo' had non-zero exit status"

In [21]:
library(ggplot2)

Warning message:
"package 'ggplot2' was built under R version 3.6.3"

## Sequências e Tipagens

In [27]:
# Criando sequências

1:10 # 1 em 1 até 10
(1:10)*10 # 10 em 10 até 100
seq(from=0, to=100, by=10) # 10 em 10 até 100
seq(from=0, to=100, len=5) # De 0 à 100, com 5 valores

 [1]  1  2  3  4  5  6  7  8  9 10

 [1]  10  20  30  40  50  60  70  80  90 100

 [1]   0  10  20  30  40  50  60  70  80  90 100

[1]   0  25  50  75 100

In [34]:
# Repetição

rep("A", times=10)
rep(c("A", "B", "C"), times=10)
rep(c("A", "B", "C"), each=10)
seqABC <- rep(c("A", "B", "C"), times=c(2,3,5))

seqABC

 [1] "A" "A" "A" "A" "A" "A" "A" "A" "A" "A"

 [1] "A" "B" "C" "A" "B" "C" "A" "B" "C" "A" "B" "C" "A" "B" "C" "A" "B" "C" "A"
[20] "B" "C" "A" "B" "C" "A" "B" "C" "A" "B" "C"

 [1] "A" "A" "A" "A" "A" "A" "A" "A" "A" "A" "B" "B" "B" "B" "B" "B" "B" "B" "B"
[20] "B" "C" "C" "C" "C" "C" "C" "C" "C" "C" "C"

 [1] "A" "A" "B" "B" "B" "C" "C" "C" "C" "C"

In [51]:
# Datas

copa.70 <- '21/06/1970'
copa.94 <- '17/07/1994'

class(copa.94)

copa.70 <- as.Date(copa.70, format='%d/%m/%y')
copa.94 <- as.Date(copa.94, format='%d/%m/%y')

class(copa.94)

copa.94 - copa.70

[1] "character"

[1] "Date"

Time difference of 26 days

In [61]:
# Tipagem

variavel <- 'eu sou string'
variavel2 <- 1

class(variavel)
typeof(variavel2)

is.integer(variavel2)
is.double(variavel2)
is.numeric(variavel2)
is.character(variavel)
is.logical(variavel3)

as.character(variavel)
as.numeric(variavel)

as.logical(1)

[1] "character"

[1] "character"

[1] FALSE

[1] FALSE

[1] FALSE

[1] TRUE

ERROR: Error in eval(expr, envir, enclos): objeto 'variavel3' não encontrado

In [85]:
ls()
a <- 1:5
class(a)

b <- factor(rep(c('a', 'b', 'c'), each=3))
b
class(b)

c = data.frame(sec=c('XIX', 'XX', "XXI"), inicio=c(1801, 1901, 2001))
c
class(c)

d = matrix(round(runif(40,0,100)), ncol=8)
d
class(d)

e = array(1:12, c(3,2,2))
e
class(e)

# Montando um objeto lista
minha.lista <- list(
    um.vetor=a,
    um.fator=b,
    um.data.frame=c,
    um.matriz=d,
    um.array=e
)

minha.lista

typeof(minha.lista)

# Acessando um elemento da lista
minha.lista$um.data.frame
# Dimensão da lista
dim(minha.lista$um.data.frame)
# Número de linhas do lista
nrow(e)
# Número de colunas da lista
ncol(e)

 [1] "a"           "b"           "c"           "copa.70"     "copa.94"
 [6] "d"           "e"           "list_obj"    "minha.lista" "seqABC"
[11] "variavel"    "variavel2"   "x"

[1] "integer"

[1] a a a b b b c c c
Levels: a b c

[1] "factor"

  sec inicio
1 XIX 1801
2 XX  1901
3 XXI 2001

[1] "data.frame"

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8]
[1,] 87    4   82   13   35   60   63   26
[2,] 83   57   41   13   46    5   73   54
[3,] 85    3   94   86    6   90   80   33
[4,] 96   51   18   12   74    8   77   53
[5,] 89   44   94   93   70    9   13    2

[1] "matrix"

, , 1

     [,1] [,2]
[1,]    1    4
[2,]    2    5
[3,]    3    6

, , 2

     [,1] [,2]
[1,]    7   10
[2,]    8   11
[3,]    9   12

[1] "array"

$um.vetor
[1] 1 2 3 4 5

$um.fator
[1] a a a b b b c c c
Levels: a b c

$um.data.frame
  sec inicio
1 XIX   1801
2  XX   1901
3 XXI   2001

$um.matriz
     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8]
[1,]   87    4   82   13   35   60   63   26
[2,]   83   57   41   13   46    5   73   54
[3,]   85    3   94   86    6   90   80   33
[4,]   96   51   18   12   74    8   77   53
[5,]   89   44   94   93   70    9   13    2

$um.array
, , 1

     [,1] [,2]
[1,]    1    4
[2,]    2    5
[3,]    3    6

, , 2

     [,1] [,2]
[1,]    7   10
[2,]    8   11
[3,]    9   12

[1] "list"

  sec inicio
1 XIX 1801
2 XX  1901
3 XXI 2001

[1] 3 2

[1] 3

[1] 2

In [102]:
# Indexando e acessando itens

cont <- c(8,4,NA,9,6,1,7,5)
cont
cont[1]

cont[c(1,4,8)]
cont[-c(1,4,8)]

cont[1:5]

cont[is.na(cont)]

cont[!is.na(cont)]


names(cont) <- letters[1:length(cont)]
cont
cont['b']
cont[c('f','a')]

[1]  8  4 NA  9  6  1  7  5

[1] 8

[1] 8 9 5

[1]  4 NA  6  1  7

[1]  8  4 NA  9  6

[1] NA

[1] 8 4 9 6 1 7 5

 a  b  c  d  e  f  g  h
 8  4 NA  9  6  1  7  5

b
4

f a
1 8

## Matrizes

In [116]:
# Indexação de Matriz

mat = matrix(1:9, nrow=3)
mat

mat[2,3]
mat[,1]
mat[1,]

mat[3,2, drop=FALSE] # Retorna do mesmo tipo da matriz original (int)
mat[2,, drop=FALSE]

# Cria labels para as colunas
colnames(mat) <- LETTERS[1:3]
mat

# Cria labels para as linhas
rownames(mat) <- LETTERS[24:26]
mat

mat['Y', 'B']

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

[1] 8

[1] 1 2 3

[1] 1 4 7

     [,1]
[1,] 6

     [,1] [,2] [,3]
[1,] 2    5    8

     A B C
[1,] 1 4 7
[2,] 2 5 8
[3,] 3 6 9

  A B C
X 1 4 7
Y 2 5 8
Z 3 6 9

[1] 5

## Listas

In [129]:
lis <- list(c(3,8,7,4), mat, 5:0)

lis

lis[[2]]
lis[[2]][2,3]

lis <- list(vetor1=c(3,8,7,4), mat=mat, vetor2=5:0)
lis

lis$vetor1[2]
lis[['mat']][1,1]

[[1]]
[1] 3 8 7 4

[[2]]
  A B C
X 1 4 7
Y 2 5 8
Z 3 6 9

[[3]]
[1] 5 4 3 2 1 0

  A B C
X 1 4 7
Y 2 5 8
Z 3 6 9

[1] 8

$vetor1
[1] 3 8 7 4

$mat
  A B C
X 1 4 7
Y 2 5 8
Z 3 6 9

$vetor2
[1] 5 4 3 2 1 0

[1] 8

[1] 1

## Dataframes

In [138]:
da <- data.frame(A=4:1, B=c(2,NA,5,8))

da

da[2,1]
da[,2]
da[1,]

da$B[3]

da[is.na(da$A),]
da[is.na(da$B),]

is.na(da$B)

  A B
1 4  2
2 3 NA
3 2  5
4 1  8

[1] 3

[1]  2 NA  5  8

  A B
1 4 2

[1] 5

     A B

  A B
2 3 NA

[1] FALSE  TRUE FALSE FALSE

## Seleção Condicional

In [158]:
dados <- c(5,15,42,28,79,4,7,14)
dados

dados > 15
dados[ dados > 15 ]
dados [ dados > 15 & dados <= 35 ]

dados > 15 | dados <= 35

cara <- letters[1:length(dados)] #
cara

cara =='c'
dados[cara =='c']

cara %in% c('a','c')
dados [ cara %in% c('a','c') ]

[1]  5 15 42 28 79  4  7 14

[1] FALSE FALSE  TRUE  TRUE  TRUE FALSE FALSE FALSE

[1] 42 28 79

[1] 28

[1] TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE

[1] "a" "b" "c" "d" "e" "f" "g" "h"

[1] FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE

[1] 42

[1]  TRUE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE

[1]  5 42

In [161]:
cara[ dados == 15 ]

which(dados>15)
which(cara=='c')
which( cara %in% c('a', 'c') )

[1] "b"

[1] 3 4 5

[1] 3

[1] 1 3

## Exercício 1

In [183]:
dados <- data.frame(ano = c(2001,2001,2003,2004,2005),
                    captura = c(26,18,25,32,NA),
                    porto=c("SP","RS","CE","SC","RN"))
dados

  ano  captura porto
1 2001 26      SP
2 2001 18      RS
3 2003 25      CE
4 2004 32      SC
5 2005 NA      RN

In [178]:
# Dados do ano de 2004
dados[ dados$ano == 2004, ]
subset(dados,dados$ano ==2004)

  ano  captura porto
4 2004 32      SC

  ano  captura porto
4 2004 32      SC

In [180]:
# Dados do estado de SC
dados[dados$porto=="SC",]
dados[ dados$porto %in% "SC", ]
subset(dados,dados$porto=="SC")

  ano  captura porto
3 2003 25      SC
4 2004 32      SC

  ano  captura porto
3 2003 25      SC
4 2004 32      SC

  ano  captura porto
3 2003 25      SC
4 2004 32      SC

In [181]:
# Dados onde títulos maior do que 25
dados[dados$captura>25,]
subset(dados,dados$captura>25)

   ano  captura porto
1  2001 26      SP
4  2004 32      SC
NA   NA NA      NA

  ano  captura porto
1 2001 26      SP
4 2004 32      SC

In [187]:
# Dados em que títulos maior do que 24 e estado do CE
dados[dados$captura>24 & dados$porto=="CE", ]
subset(dados,dados$captura>24 & dados$porto=="CE")

  ano  captura porto
3 2003 25      CE

  ano  captura porto
3 2003 25      CE

In [188]:
# Dados de estados que possuem NA
dados[is.na(dados$captura),]
subset(dados,is.na(dados$captura))

  ano  captura porto
5 2005 NA      RN

  ano  captura porto
5 2005 NA      RN

## Estatística Descritiva

In [191]:
summary(dados)

      ano          captura      porto
 Min.   :2001   Min.   :18.00   CE:1
 1st Qu.:2001   1st Qu.:23.25   RN:1
 Median :2003   Median :25.50   RS:1
 Mean   :2003   Mean   :25.25   SC:1
 3rd Qu.:2004   3rd Qu.:27.50   SP:1
 Max.   :2005   Max.   :32.00
                NA's   :1