## 1 - Input de dados

In [1]:
dados <- data.frame(ano = c(2001,2002,2003,2004,2005),
                   captura = c(26,18,25,32,NA),
                    porto=c("SP","RS","CE","SC","RN"))

In [7]:
dados

  ano  captura porto
1 2001 26      SP
2 2002 18      RS
3 2003 25      CE
4 2004 32      SC
5 2005 NA      RN

### 2 - Dados do ano de 2004

In [2]:
dados[dados$ano==2004,]

  ano  captura porto
4 2004 32      SC

In [3]:
subset(dados,dados$ano ==2004)

  ano  captura porto
4 2004 32      SC

### 3 - Dados do estado de SC

In [4]:
dados[dados$porto=="SC",]

  ano  captura porto
4 2004 32      SC

In [5]:
subset(dados,dados$porto=="SC")

  ano  captura porto
4 2004 32      SC

## 4 - Dados que captura maior do que 25

In [6]:
dados[dados$captura>25,]

   ano  captura porto
1  2001 26      SP
4  2004 32      SC
NA   NA NA      NA

In [8]:
subset(dados,dados$captura>25)

  ano  captura porto
1 2001 26      SP
4 2004 32      SC

## 5 - Dados em que captura maior do que 24 e estado do CE

In [10]:
dados[ dados$captura > 24   &  dados$porto == "CE",     ]

  ano  captura porto
3 2003 25      CE

In [11]:
subset(dados,dados$captura > 24 & dados$porto =="CE")

  ano  captura porto
3 2003 25      CE

## 6 - Estados que possuem NA

In [14]:
dados[is.na(dados$captura),]

  ano  captura porto
5 2005 NA      RN

In [16]:
subset(dados,is.na(dados$captura))

  ano  captura porto
5 2005 NA      RN